#intro {
        background-image: url("../../img/library-bg1.jpg");
        height: 100vh;
}

@media (min-width: 992px) {
	#intro {
		margin-top: -58.59px;
	}
}

.navbar .nav-link {
	color: #fff !important;
}
